@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;700&display=swap');

body { 
    font-family: 'Inter', sans-serif; 
    background: #0f172a; 
    color: #f8fafc; 
}

.mono { 
    font-family: "JetBrains Mono", monospace; 
}

.success-line { 
    color: #22c55e; 
}

.error-line { 
    color: #ef4444; 
}

/* 滚动条美化 */
#history-list::-webkit-scrollbar,
#terminal::-webkit-scrollbar { 
    width: 4px; 
}

#history-list::-webkit-scrollbar-thumb,
#terminal::-webkit-scrollbar-thumb { 
    background: #334155; 
    border-radius: 10px; 
}