 /*
**********
      侧边导航栏样式   begin
**********
      */
        #sidebar {
            height: 100%;
            width: 250px;
            position: fixed;
            z-index: 10;
            top: 0;
            left: -250px; /* 初始隐藏 */
            background-color: #333;
            padding-top: 60px;
            transition: left 0.3s ease-in-out; 
            display: flex;
            flex-direction: column;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
        }

        /* 侧边栏打开时的状态 */
        #sidebar.open {
            left: 0;
        }

        /* 侧边栏内的链接样式 */
        #sidebar a {
            padding: 15px 25px;
            text-decoration: none;
            font-size: 16px;
            color: #ccc;
            display: block;
            transition: background-color 0.2s;
            border-bottom: 1px solid #444;
            /* 确保文本和 Emoji 符号居中对齐 */
            display: flex;
            align-items: center;
        }

        /* 为 Emoji 符号添加一些右边距，使其与文本分离 */
        #sidebar a span.icon-emoji {
            margin-right: 12px;
            font-size: 1.2em; /* 稍微放大 Emoji 符号 */
            line-height: 1;
        }

        #sidebar a:hover {
            background-color: #555;
            color: white;
        }
        
        /* 汉堡菜单按钮样式 */
        #menu-button {
            position: fixed;
            top: 15px;
            left: 15px;
            z-index: 20;
            background: none;
            border: none;
            cursor: pointer;
            padding: 5px;
            outline: none;
        }

        /* 汉堡菜单的横线 */
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            background-color: #aaa9a9;
            margin: 4px 0;
            border-radius: 1px;
        }

        /* 侧边栏的关闭按钮 */
        #close-button {
            position: absolute;
            top: 5px;
            right: 15px;
            font-size: 30px;
            line-height: 1;
            background: none;
            border: none;
            color: #ccc;
            cursor: pointer;
            padding: 10px;
            outline: none;
        }
        /* 当侧边栏打开时隐藏菜单按钮 */
        body.sidebar-open #menu-button {
            display: none;
        }
 /*
**********
  侧边导航栏样式 end
**********
   */